<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid align-items-center gap-2">
        <img src="robot-logo.svg" alt="CodeReview Assistant logo" class="brand-logo" />
        <a class="navbar-brand" href="/">CodeReview<span class="brand-accent">AI</span></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon" aria-hidden="true">
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38
                                 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13
                                 -.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66
                                 .07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15
                                 -.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27
                                 .68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12
                                 .51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48
                                 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </span>
                Review PR
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="nav-icon" aria-hidden="true">
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="M1.5 1a.5.5 0 00-.5.5v4a.5.5 0 001 0V2h3.5a.5.5 0 000-1H1.5zM10 1a.5.5 0 000 1h3.5v3.5a.5.5 0 001 0V1.5a.5.5 0 00-.5-.5H10zM1 10.5a.5.5 0 011 0V14h3.5a.5.5 0 010 1H1.5a.5.5 0 01-.5-.5V10.5zm14 0a.5.5 0 00-1 0V14h-3.5a.5.5 0 000 1h4a.5.5 0 00.5-.5V10.5z"/>
                        <path d="M8 4a4 4 0 100 8A4 4 0 008 4zm0 1a3 3 0 110 6A3 3 0 018 5zm.5 1.5a.5.5 0 00-1 0v2.293l-1.146 1.147a.5.5 0 00.707.707l1.293-1.293A.5.5 0 008.5 9V6.5z"/>
                    </svg>
                </span>
                History
            </NavLink>
        </div>
    </nav>
</div>
